<% content_for :head do %>
  <%= javascript_include_tag 'users' %>
<% end %>

<h1>Editing User</h1>

<%= form_for(@logged_user, url: user_path(@logged_user)) do |f| %>

 	<%= render 'shared/error_messages', object: @logged_user %>

 	<% if @logged_user.has_image? %>
		<%= image_tag @logged_user.user_image.user_image_url, :style => "width: 120px; height: 120px;"  %>
	<% else %>
		<%= image_tag "default_profile.jpg", :style => "width: 120px; height: 120px;"  %>
	<% end %>

  <div class = "field">
    <%= f.label :image, "Change Image" %>
    <%= f.file_field :image %>
  </div>

	<div class="field">
		<%= f.label :first_name, "First Name" %>
		<%= f.text_field :first_name %>
	</div>

	<div class="field">
		<%= f.label :last_name, "Last Name" %>
		<%= f.text_field :last_name %>
	</div>

	<div class="field">
		<%= f.label :username, "Username" %>
		<%= f.text_field :username %>
	</div>

	<div>
		<%= f.label :edit_password, "Change Password" %>
		<%= f.check_box :edit_password , onclick: "togglePasswordDiv(this)" %>
	</div>

	<div id='password_div' class = "field highlight-div hide-element">

		<%= f.label :current_password, "Current password" %>
		<%= f.password_field :current_password %>
		<br>

		<%= f.label :password, "New password" %>
		<%= f.password_field :password %>
		<br>

		<%= f.label :password_confirmation, "Confirm new password" %>
		<%= f.password_field :password_confirmation %>

	</div>

	<div class="field">
		<%= f.label :email, "Email" %>
		<%= f.text_field :email %>
	</div>

	<div>
		<%= f.label :address, "Address" %>
		<%= f.text_field :address %>
	</div>

	<%= f.submit @submit_message %>
<% end %>

<%= link_to 'Show', admin_user_path(@logged_user) %> |
<%= link_to 'Back', admin_users_path %>
