<% content_for :head do %>
  <%= javascript_include_tag 'users_show', 'users' %>
<% end %>

<% if user_id_matches_logged_user? %>
  <%= link_to 'Edit Profile', edit_user_path(@user) %>
  <br>
  <%= link_to 'Create a new grocery', new_grocery_path %>
  <br>
<% end %>

<% if @user.has_image? %>
  <%= image_tag @user.user_image.user_image_url, :style => "width: 120px; height: 120px;"  %>
<% else %>
  <%= image_tag "default_profile.jpg", :style => "width: 120px; height: 120px;"  %>
<% end %>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<% if @user.privileges.any? %>
  <strong>Associated groceries</strong>
  <table border>
    <tr>
      <th>Name</th>
      <th>Privilege</th>
    </tr>
    <% @user.privileges.each do |privilege| %>
      <% grocery = privilege.grocery %>
      <tr>
        <td><%= link_to grocery.name, grocery_path(grocery) %></td>
        <td><%= privilege.privilege %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<h3 id="news_title">News Feed (<%= @reports.count %>)</h3>

<div id="report_feed_container">
  <%= render partial: 'reports/report_feed_pagination', locals: {reports: @reports} %>
</div>

<button id='more_feed_button' data-url="<%= user_feed_url(@user) %>">Load more news</button>
