<!-- remember to provide local variables product, namespace and submit_message -->

<%= form_for(comment, url: namespace) do |f| %>

  <%= render 'shared/error_messages', object: comment %>

  <div class = "field">
    <%= f.label :text, "Comment" %>
    <%= f.text_field :text %>
  </div>
  
  <%= f.submit submit_message %>

<% end %>
