<!--
  parameters: product, grocery
 -->

<div class="product-container clearfix">

  <h1 style='display: inline-block;'><%= product.name %></h1>
  <% if is_administrator? %>
    <%= link_to 'edit', edit_grocery_product_path(grocery,product) %> |
    <%= link_to 'delete', grocery_product_path(grocery,product), method: :delete, data: { confirm: 'Do you really want to delete this product?' } %>
  <% end %>
  <br>
  by <%= link_to grocery.name, grocery_path(grocery) %>
  <br/>
  <br/>

  <div class="image-and-rating">

    <% if product.has_image? %>
      <%= image_tag product.product_image.product_image_url %>
    <% else %>
      <%= image_tag "products-icon-basket.gif" %>
    <% end %>
    <br/>

    <span class="stars-container">
      <span class="stars-row back">
         <label>★</label><label>★</label><label>★</label><label>★</label><label>★</label>
      </span>
      <span class="stars-row front" style="width: <%= product.star_count.get_rating_percentage_average %>%">
         <label>★</label><label>★</label><label>★</label><label>★</label><label>★</label>
      </span>
    </span>
    (<%= product.stars.count %>)
    <br/>

    <%= product.star_count.get_rating_average.round(1) %> out of  5 stars
    <br/>

    <%= link_to "see all reviews (#{product.reviews.count})", product_reviews_path(product) %>

  </div>


  <div class="extra-info">
    Price: $ <%= product.price %> <br/>
    IN STOCK: <%= product.inventory.stock %> <br/>
    <p>
      <strong>Category:</strong>
      <%= @product.category ? @product.category.name : "none" %>
    </p>
    <p>
      <strong>Tags:</strong>
      <%= @product.tags.any? ? @product.tags.map{|x| x.name}.join(', ') : 'none'%>
    </p>
  </div>

</div>

<div>
    <div>Recipe: <%= link_to @recipe_title, @recipe_url %></div>
    <%= image_tag(@recipe_image, alt: 'Recipe picture') %>
</div>
