<!-- remember to provide local variables product, namespace and submit_message -->

<%= form_for(product, url: namespace) do |f| %>

  <%= render 'shared/error_messages', object: product %>

  <div class = "field">
    <% if product.has_image? %>
      <%= image_tag product.product_image.product_image_url, :style => "width: 250px; height: 120px;"  %>
    <% else %>
      <%= image_tag "products-icon-basket.gif", :style => "width: 250px; height: 120px;"  %>
    <% end %>
    <br>
    <%= f.fields_for :product_image do |ff| %>    
      <%= ff.label :product_image, "Change Image" %>
      <%= ff.file_field :product_image %>
    <% end %>
  </div>

  <div class = "field">
    <%= f.label :name, "Name" %>
    <%= f.text_field :name %>
  </div>

  <%= f.fields_for :inventory do |ff| %>
    <div class="field">
      <%= ff.label :stock, "Stock" %>
      <%= ff.number_field :stock %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :price, "Price" %>
    <%= f.number_field :price %>
  </div>

  <div class="field">
    <%= f.label :description, "Description" %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :visible, "Visible" %>
    <%= f.check_box :visible %>
  </div>


  <% @show_existing = (product.category_mode == :existing_category) %>

  <div class = "field">
    <%= f.radio_button :category_mode, "existing_category", checked: @show_existing, onclick: "switchCategoryMode(this)" %>
    <%= f.label :category_mode, 'Choose an existing category', value: "existing_category" %>
    <br>
    <%= f.radio_button :category_mode, "new_category", checked: !@show_existing, onclick: "switchCategoryMode(this)" %>
    <%= f.label :category_mode, 'Create and assign a new category', value: "new_category" %>    
    <br>
    <div id = "existing_category_div" <%= @show_existing ? '' : 'class=hide-element'%>>
      <%= f.label :existing_category, "Existing Category: " %>
      <br>
      <%= f.select :existing_category, options_for_select(Category.all.collect {|c| [c.name,c.id]}, product.existing_category ) , {include_blank: true}, {class: 'awesome-select'} %>
    </div>
    <div id = "new_category_div" <%= !@show_existing ? '' : 'class=hide-element'%>>
      <%= f.label :new_category, "New Category: " %>
      <br>
      <%= f.text_field :new_category %>
    </div>
  </div>

  <div class = "field">
    <div>
      <%= f.label :existing_tags, "Existing Tags" %>
      <br>
      <%= f.select :existing_tags, options_for_select(Tag.all.collect {|tag| [tag.name,tag.id]}, product.existing_tags ), {}, {multiple: true, class: 'awesome-select'} %>
    </div>
    <div>
      <%= f.label :new_tags, "New Tags: " %>
      <%= f.text_field :new_tags, id: 'new_tags', value: product.new_tags %>
    </div>
  </div>

  <%= f.submit submit_message %>

<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    $(".awesome-select").select2({
      width: "230px"
    });
    $("#new_tags").tagsInput();
  });

  function switchCategoryMode(radio) {
    if(radio.value == "new_category") {
      $("#existing_category_div").addClass("hide-element");
      $("#new_category_div").removeClass("hide-element");

    } else {  
      $("#existing_category_div").removeClass("hide-element");
      $("#new_category_div").addClass("hide-element");
    }
  }
</script>