<% if @reports.any? %>
	<br>
	<h2>News</h2>
	<% if @privilege == :administrator %>
	  <%= link_to 'Create a news', new_grocery_report_path(@grocery) %>
		<br>
		<br>
	<% end %>
	<%= will_paginate @reports, params: {controller: 'reports', action: 'index', grocery_id: @grocery.id} %>
	<% @reports.each do |report| %>

		<div class="report-container">
			<div class="spanner-container">
				<h4><%= report.title %></h4>

				<% if report.product %>
					<% if report.product.has_image? %>
						<%= image_tag report.product.product_image.product_image_url, style: "width: 50; height: 50px;"  %>
					<% else %>
						<%= image_tag "products-icon-basket.gif", :style => "width: 50px; height: 50px;"  %>
					<% end %>
				<% end %>

				<%= simple_format(report.text) %>

				<% if report.product %>
					<a href="<%= grocery_product_path(@grocery, report.product) %>">
						<span class="link-spanner"></span>
					</a>
				<% end %>
			</div>

			<% if @privilege == :administrator %>
				<table class="report-admin">
					<tr>
						<td><%= link_to "Edit", edit_grocery_report_path(@grocery, report) %></td>
						<td><%= link_to "Destroy", grocery_report_path(@grocery, report), data: { confirm: "Are you sure?" , method: :delete } %></td>
					</tr>
				</table>
				<clear-fix></clear-fix>
			<% end %>

			<% if report.comments.any? %>
				<% report.comments.each do |comment| %>
					<div class="comment">
						<%= link_to comment.user.get_name, user_path(comment.user) %><br>
						<%= comment.text %>
					</div>
				<% end %>
			<% end %>

			<%= link_to 'Add a comment...', new_report_comment_path(report) %>

		</div>
		<br>

	<% end %>
	<%= will_paginate @reports, params: {action: 'index', grocery_id: @grocery.id} %>
<% end %>
