<%= form_tag search_products_path(@grocery), method: 'get', id: "products_search", class: 'w100' do %>

  <table class="w100">
  <tr>

    <td class="w100"><%= text_field_tag :search, nil, class: 'w100' %></td>
    <td><%= submit_tag "Search in grocery", :name => nil, class: 'button-with-image' %></td>

  </tr>
  </table>

  <button type="button" id='advanced_button'>Show advanced fields</button>
  <div id="advanced_fields" class="w100 hide-element">

    <table class="w100">

    <tr>
      <td>
        <label>Filter by category (OR)</label>
      </td>
      <td>
        <label>Filter by tags (AND)</label>
      </td>
    </tr>

    <tr>
      <td>
        <%= select_tag :categories, options_from_collection_for_select(@grocery.get_categories, "id", "name"), multiple: true, class: 'awesome-select w100' %>
      </td>
      <td>
        <%= select_tag :tags, options_from_collection_for_select(@grocery.get_tags,"id","name"), multiple: true,   class: 'awesome-select w100' %>
      </td>
    </tr>

    </table>
  </div>

<% end %>
