
<%#= parameters: grocery, logged_user, grocery_categories, grocery_tags %>

<header>  

  <table>
  <tr>

  <td>
    <%= link_to root_path, class: 'left-floatme' do %>
      <span>ALMA</span>
    <% end %>
  </td>

  <td style="width:100%">
    <%= form_tag search_products_path(grocery), method: 'get', id: "products_search", style: "width:100%" do %>

      <table style="width:100%">
      <tr>

        <td style="width:100%"><%= text_field_tag :search, nil, style: "width:100%"%></td>
        <td><%= submit_tag "Search", :name => nil, class: 'button-with-image' %></td>    

      </tr>
      </table>

      <button type="button" id='advanced_button'>Show advanced fields</button>
      <div id="advanced_fields" style="width:100%" class="hide-element">

        <table style="width:100%">

        <tr>
          <td>
            <label>Filter by category (OR)</label>
          </td>
          <td>
            <label>Filter by tags (AND)</label>
          </td>
        </tr>

        <tr>
          <td>
            <%= select_tag :categories, options_from_collection_for_select(grocery_categories, "id", "name"), multiple: true, class: 'awesome-select', style:"width:100%" %>
          </td>
          <td>
            <%= select_tag :tags, options_from_collection_for_select(grocery_tags,"id","name"), multiple: true,   class: 'awesome-select', style:"width:100%" %>
          </td>
        </tr>

        </table>
      </div>

    <% end %>
  </td>

  <% if signed_in? %>
    <td><%= link_to(@logged_user.username, user_path(@logged_user), class: 'right-floatme') %></td>
    <td><%= link_to('Sign out', signout_path, :method => :delete, class: 'right-floatme') %></td>
  <% else %>
    <td><%= link_to('Sign in', signin_path, class: 'right-floatme')  %></td>
    <td><%= link_to('Sign up', signup_path, class: 'right-floatme')  %></td>
  <% end %>

  </tr>
  </table>

</header>