<%#=
  parameters: grocery
%> 
<div id="grocery_sidebar">

	<strong>You are in Grocery:</strong> <br>

	<%#= name + image %>
	<%= link_to grocery_path(grocery) do %>
		<div>
			<span><%= grocery.name %></span> <br>			
			<% if @grocery.has_image? %>
			  <%= image_tag @grocery.grocery_image.grocery_image_url %>
			<% else %>
			  <%= image_tag "Springfield_grocery_store.png" %>
			<% end %>
		</div>
	<% end %> <br>

	<% if is_administrator? %>
		<fieldset>
			<legend>Administrator options:</legend>
			<ul>
				<li><%= link_to "edit grocery", edit_grocery_path(grocery)%></li>
				<li><%= link_to "Manage purchase orders", grocery_purchase_orders_path(grocery) %></li>
				<li><%= link_to 'Create a new product', new_grocery_product_path(@grocery) %></li>
			</ul>
		</fieldset>
	<% end %>

</div>