<div class="following-grocery-container" id="<%= grocery.id %>">
	<%= link_to grocery_path(grocery) do %>
	  <%= image_tag grocery.image_url_or_default, class: 'grocery-image' %>
	  <br>
		<strong><%= grocery.name %></strong>
	<% end %>
	<br>
	<% if user_id_matches_logged_user? %>
		<button class="stop-following-button" data-grocery-id="<%= grocery.id %>">Stop following</button>
		<div class="removing-container hidden">
			<%= image_tag "pIkfp.gif", class: 'left-floatme' %>
			<span>Removing from your following list ...</span>
		</div>
	<% end %>
</div>