<h1> Grocery Informtion </h1>

<div class='big-img-container left-floatme'>
  <% if @grocery.has_image? %>
    <%= image_tag @grocery.grocery_image.grocery_image_url %>
  <% else %>
    <%= image_tag "Springfield_grocery_store.png" %>
  <% end %>
</div>

<p>
  <strong>Name:</strong>
  <%= @grocery.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @grocery.address %>
</p>

<% if @logged_user %>
  <div id="follow" class=<%= (current_user_following_grocery ? "hidden" : "") %> >
    <button id="follow" onclick="follow(true)">Follow this grocery!</button>
  </div>
  <div id="unfollow" class=<%= (current_user_following_grocery ? "" : "hidden") %> >
    <span>You are following this grocery</span>
    <button id="unfollow" onclick="follow(false)">Unfollow</button>
  </div>
<% end %>

<% if @privilege == :administrator %>
  <%= link_to 'Create a new product', new_grocery_product_path(@grocery) %>
<% end %>










<script>
  grocery_id = <%= @grocery.id %>;
</script>
