<%#= parameter: product %>

<div class="product-container">

  <div class="image-and-rating">

   	<%= link_to grocery_product_path(product.grocery, product) do %>
			<strong><%= product.name %></strong>
			<% if product.has_image? %>
			  <%= image_tag product.product_image.product_image_url, :style => "width: 120px; height: 120px;"  %>
			<% else %>
			  <%= image_tag "products-icon-basket.gif", :style => "width: 120px; height: 120px;"  %>
			<% end %>
		<% end %>
    <br/>

    <span class="stars-container">
      <span class="stars-row back">
         <label>★</label><label>★</label><label>★</label><label>★</label><label>★</label>
      </span>
      <span class="stars-row front" style="width: <%= product.star_count.get_rating_percentage_average %>%">
         <label>★</label><label>★</label><label>★</label><label>★</label><label>★</label>
      </span>
    </span>
    <%#= (<%= product.stars.count %> <%#= ) 
    <br/>
    %>
    <%= product.star_count.get_rating_average.round(1) %> out of  5 stars
    <br/>

  </div>

  <div class="extra-info">
    Price: $ <%= product.price %> <br/>
    IN STOCK: <%= product.inventory.stock %> <br/>
    <p>
      <strong>Category:</strong>
      <%= @product.category ? @product.category.name : "none" %>
    </p>
    <p>
      <strong>Tags:</strong>
      <%= @product.tags.any? ? @product.tags.map{|x| x.name}.join(', ') : 'none'%>
    </p>
  </div>

</div>