<!DOCTYPE html>
<html>
<head>
  <title> <%= if content_for?(:title) then yield(:title) + ' | ' end %>Alma</title>
  <%= stylesheet_link_tag    'application', 'groceries', media: 'all' %>
  <%= javascript_include_tag 'application', 'groceries' %>
  <%=  yield(:head) if content_for?(:head) %>  
  <%= csrf_meta_tags %>
</head>
<body>

  <% if false %>
  	<%= render partial: 'layouts/groceries/header', locals: {grocery: @grocery, logged_user: @logged_user, grocery_categories: @grocery_categories, grocery_tags: @grocery_tags} %>
    <%= render partial: 'layouts/groceries/sidebar', locals:{grocery: @grocery} %>
  <% end %>

  <%= render 'layouts/header' %>
  <%= render partial: 'layouts/groceries/sidebar', locals:{grocery: @grocery} %>

  <div id="grocery-page-wrap">
	  <% flash.each do |key, value| %>
  		<div class="alert alert-<%= key %>"><%= value %></div>
  	<% end %>
  	<%= yield %>
  </div>

</body>
</html>
